/*  
*   Athor Name: Rakibul Islam
*   App Name: To do list
*   File exe: .css
*/

/* 
* Fonts
* font-family: 'Josefin Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* 
* font-family: 'Comfortaa', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* ****************************************************** */
/*****************************
Compn Css Code
*****************************/
* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    background: #3c7f96;
}

::selection {
    background: none;
}

section {
    width: fit-content;
    overflow: hidden;
    margin: auto;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

/**************************************
 Hading Bannar Image Bacground Code 
 *************************************/

.images .clock {
    background-image: url(../Images/do-not-give-up.jpg);
    padding: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 220px;
    border-radius: 30px 30px 0px 0px;
    margin-top: 14px;
}

.images {
    width: 700px;
}

.clock {
    text-align: center;
    font-family: 'Comfortaa', cursive !important;
}

.clock h1 {
    display: inline;
    text-align: center;
    font-size: 70px;
}

.clock span {
    display: inline;
}

/**************************
 Todo Text Sction Css Code 
 *************************/
section.todoOption {
    overflow: hidden;
    padding: 15px;
    width: fit-content;
    background: #2e3d6894;
    color: white;
    width: 700px;
    border-radius: 0px 0px 10px 10px;
}

/************************
 Input Element css Code 
 ***********************/
form.inputElement {
    align-items: center;
    text-align: center;
    align-items: center;
    text-align: center;
}

input[type="text"] {
    outline: none;
    padding: 8px 18px;
    font-size: 24px;
    width: 600px;
    border-radius: 12px;
    background: rgb(67, 77, 126);
    border: 2px solid rgb(42, 56, 96);
    color: white;
    margin-top: 9px;
    font-family: "Josefin Sans", sans-serif;
}

input[type="text"]::selection {
    background: #123596;
    color: white;
}

input::placeholder {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

/* ********************
To Do List Item Code 
************************/

.add a i {
    color: white;
}

.add {
    width: fit-content;
    background: #2a3860;
    float: right;
    padding: 7px;
    position: relative;
    top: -46px;
    left: -35px;
    font-size: 30px;
    width: 48px;
    height: 46px;
    border-radius: 0px 10px;
}

.todo ul li {
    background: #194066;
    font-size: 20px;
    font-family: 'Comfortaa', cursive !important;
    padding: 12px 18px;
    margin: 5px 0px;
    cursor: context-menu;
    border-radius: 8px;
}


.todo {
    width: 80%;
    margin: auto;
}

.todo ul {
    padding: 15px 1px;
    list-style: none;
    margin: auto;
    border-radius: 6px;
}

.icons {
    display: initial;
    float: right;
    padding: 0px;
}

.icons i.fa-trash-alt {
    padding: 0px 0px 0px 15px;
}

.symbolI {
    display: initial;
    float: left;
    padding-right: 10px;
}

i {
    cursor: pointer !important;
}