/* 
* Fonts
* font-family: 'Josefin Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* 
* font-family: 'Comfortaa', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* ****************************************************** */
* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    background: #3c7f96;
}

/* Bicic Sectiom */
section {
    width: fit-content;
    overflow: hidden;
    margin: auto;

}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
} */

/* section#clockSite {
    overflow: hidden;
} */
.images .clock {
    background-image: url(../Images/do-not-give-up.jpg);
    padding: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 220px;
    border-radius: 30px 30px 0px 0px;
    /* padding: 10px; */
    margin-top: 14px;
}

.images {
    width: 700px;
    /* height: 300px; */

}

.clock {
    /* width: fit-content;
    margin: auto; */
    text-align: center;
    font-family: 'Comfortaa', cursive !important;
}

.clock h1 {
    text-align: center;
    font-size: 70px;
}

.clock span {
    display: inline;
}

.clock h1 {
    display: inline;
}

section.todoOption {
    overflow: hidden;
    padding: 15px;
    width: fit-content;
    background: #2e3d6894;
    color: white;
    width: 700px;
    /* text-align: center; */
    border-radius: 0px 0px 10px 10px;
}

form.inputElement {
    align-items: center;
    text-align: center;
}

input[type="text"] {
    outline: none;
    padding: 8px 18px;
    font-size: 24px;
    width: 600px;
    border-radius: 12px;
    background: rgb(67, 77, 126);
    border: 2px solid rgb(42, 56, 96);
    color: white;
    margin-top: 9px;
    font-family: "Josefin Sans", sans-serif;
}

input::placeholder {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.add a i {
    color: white;
}

.add {
    width: fit-content;
    background: #2a3860;
    float: right;
    padding: 7px;
    position: relative;
    top: -46px;
    left: -35px;
    font-size: 30px;
    width: 48px;
    height: 46px;
    border-radius: 0px 10px;
}

.todo ul li {
    background: red;
    /* margin: 5px; */
    font-size: 21px;
    font-family: 'Comfortaa', cursive !important;
}

form.inputElement {
    align-items: center;
    text-align: center;
}

.todo {
    /* overflow: hidden; */
    /* width: 70%; */
    /* margin: auto; */
    width: 80%;
    margin: auto;
}

/* ul {} */

.todo ul {
    padding: 15px 1px;
    list-style: none;
    margin: auto;
    /* width: 100%; */
    border-radius: 6px;
}

/* .todo ul li {
    padding: 9px 24px;
    font-size: 20px;
    background: red;
    margin: 2px 0px;
    width: 100%;
    /* border-radius: 4px; */
/* }

*/
/* .todo ul li:first-child {
    border-radius: 10px 10px 0px 0px;
}

.todo ul li:last-child {
    border-radius: 0px 0px 10px 10px;
} */